:root {
  /* Colors */
  /* --color-violet_dark: #46265c;
  --color-violet: #794d9a;
  --color-red_dark: #c83b4c;
  --color-red_medium: #e6895d;
  --color-red: #f75b5b;
  --color-black: #29292c;
  --color-tan: #e3dcc8; */
  --color-off-white: #f7f7f5;
  --color-grey: #b5b5c0;
  --color-dark-grey: #646464;
  --color-soft-orange: #feca77;
  --color-soft-pink: #fe77ab;
  --color-soft-lime: #77feca;
  --color-soft-blue: #77abfe;
  --color-soft-cyan: #77effe;
}
