.section {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.section__large {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.section--heading {
    position: absolute;
    top: -5.75rem;
    font-size: 6rem;
    color: var(--color-off-white);
    text-shadow:
    3px 3px 0 rgba(0,0,0, 0.2),
    3px 3px 0 var(--color-soft-blue),
    -1px -1px 0 var(--color-soft-blue),
     1px -1px 0 var(--color-soft-blue),
     -1px 1px 0 var(--color-soft-blue),
      1px 1px 0 var(--color-soft-blue);
}
