.info-modal.modal
  .modal__close ⌃
  .modal__header
    canvas#canvas.mypic(width="200" height="200")
  .modal__body
    .grid
      section.half
        h5.modal__title Show & Tell
        p I am designer and developer. Most folks call me LunchBox, or LB. I'm a digital creator and maker. I guess if you had to put a label on it, I'm a front end developer. I love coming up with ideas and building them. From time to time I help others flesh out their ideas.
        p I'm old school. I coded my first site in the early oughts. Tables were still cool. CSS was just a garden. Phones still flipped. Get off my lawn.
        p Before making the plunge to full-time code monkey, I worked normal everyday jobs. I've worked in a Chinese restaurant and then an adult bookstore, and those were just some of the highlights. I freelanced for a while, it was okay.
      div.half  
        include publications
        include speaking
    .grid  
      section#languages.third
      section#albums.third
      section#books.third
