footer.footer
  block footer-articles
  .footer-sections
    .colophon 
      a(href="/colophon") Colophon
    //- .tennessee
    //-   img.tennessee-logo(src="/img/tn.png" alt="Proudly built in Tennessee" title="Proudly built in Tennessee")
    .colophon
      small
        | Built with ♥ in Tennessee
    .social 
      a(href="http://twitter.com/bowshears") Twitter
      |  /  
      a(href="http://linkedin.com/in/jeffboshers") Linkedin
      |  /  
      a(href="http://dribbble.com/boundbystars") Dribbble
