
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle = config.title + ' | ' + pageTitle

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= pageTitle
    style.
          html {
          font-family: sans-serif;
          line-height: 1.15;
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
          }
          body {
          margin: 0;
          }
          header,
          main,
          nav {
          display: block;
          }
          canvas {
          display: inline-block;
          }
          a {
          background-color: transparent;
          -webkit-text-decoration-skip: objects;
          }
          svg:not(:root) {
          overflow: hidden;
          }
          ::-webkit-input-placeholder {
          color: inherit;
          opacity: .54;
          }
          ::-webkit-file-upload-button {
          -webkit-appearance: button;
          font: inherit;
          }
          * {
          box-sizing: border-box;
          }
          html {
          font-size: 62.5%;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          }
          body {
          background: #f7f7f5;
          color: #646464;
          font-family: worksansregular,sans-serif;
          font-size: 18px;
          font-size: 1.8rem;
          line-height: 1.6;
          }
          a {
          color: inherit;
          text-decoration: none;
          }
          header.header {
          position: absolute;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding-left: 20px;
          padding-left: 2rem;
          padding-right: 20px;
          padding-right: 2rem;
          top: 0;
          width: 100%;
          z-index: 1;
          }
          header .logo {
          width: 60px;
          margin-top: 10px;
          margin-top: 1rem;
          }
          .header .logo a {
          border-bottom: 0;
          }
          header .logo svg {
          width: 100%;
          height: auto;
          }
          .nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          list-style: none;
          margin: 0;
          padding: 0;
          }
          .nav--item {
          font-family: brandon_grotesqueblack,sans-serif;
          font-size: 18px;
          font-size: 1.8rem;
          text-transform: uppercase;
          margin-left: 20px;
          margin-left: 2rem;
          letter-spacing: 1px;
          }
          .homepage {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 100vh;
          }
          .intro {
          font-size: 30px;
          font-size: 3rem;
          font-family: 'youngserifregular',georgia,serif;
          color: #794d9a;
          padding: 20px;
          padding: 2rem;
          }
          .modal {
          position: absolute;
          top: 0;
          left: 50%;
          background-color: #f7f7f5;
          width: 95vw;
          z-index: 2;
          -webkit-transform: translate(-50%,-100%);
          transform: translate(-50%,-100%);
          border: 20px solid rgba(0,0,0,.2);
          border: 2rem solid rgba(0,0,0,.2);
          background-clip: content-box;
          }
          .modal__close {
          position: absolute;
          top: 10px;
          top: 1rem;
          right: 10px;
          right: 1rem;
          font-size: 30px;
          font-size: 3rem;
          font-weight: 700;
          }
          .modal__header {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          }
          .modal__header {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          }
          .mypic {
          margin-top: 40px;
          margin-top: 4rem;
          width: 200px;
          height: 200px;
          border: 1px solid #b5b5c0;
          }
          .theme--violet {
          color: #794d9a!important;
          }
          .theme--violet svg {
          fill: #794d9a!important;
          }
    link(rel='preload', href='css/varg.css', as='style', onload="this.rel='stylesheet'")
    noscript
      link(rel='stylesheet', href='css/varg.css')
    link(rel="icon", href=config.root + 'img/favicon.png')
    != open_graph({image: 'http://boshe.rs/img/pixel-head.jpg'})
  body
    header.header.theme--violet
      .logo
        a(href="/" alt="logo" title="Back to homepage")
          include logo
      include nav
    main.homepage
      block content
    include about
    script(async src=config.root + 'js/varg.js')
