footer.footer {
  position: relative;
  background-color: var(--color-black);
  color: var(--color-grey);
  margin-top: 2rem;
  font-size: 1.6rem;
}

.footer-sections {
  @media (--viewport-medium) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  padding: 0 2rem;
}

.logo--footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tennessee {
  margin-left: 4rem;
}

.wolf-logo {
  position:absolute;
  top: 0;
  left: 50%;
  width: 50px;
  margin-top: 1rem;
  transform: translate(-47%, -60%);
}

.tennessee-logo {
  display: none;
  width: 100px !important;
  opacity: 0.7;
  padding: 1rem;
  @media (--viewport-medium) {
    display: block;
  }
}

.colophon,
.social {
  font-family: var(--sans-serif-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0;
}
