.sidebar {
  width: 25%;
  border-left: 1px solid #000;
}

.sidebar__section {
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 2rem;
}

.sidebar__title {
  text-transform: uppercase;
  font-family: var(--sans-serif);
  font-size: 1.8rem;
}
