.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    font-size: 3rem;
    font-family: var(--serif);
    color: var(--color-grey);
    padding: 0 2rem;
}

.emphasis {
    color: var(--color-soft-blue);
}

.greeting {
    font-family: var(--quicksand);
    font-weight: 700;
}

.description {
    font-family: var(--quicksand);
    font-weight: 700;
}
