.theme--violet {
  color: var(--color-violet) !important;
}

.theme--violet svg {
  fill: var(--color-violet) !important;
}

.theme--dark {
  color: var(--color-dark-grey) !important;
}

.theme--dark svg {
  fill: var(--color-dark-grey) !important;
}

.theme--light {
  color: var(--color-off-white) !important;
}

.theme--light svg {
  fill: var(--color-off-white) !important;
}
